@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}
/* 
.dark,
.dark-theme,
[data-theme="dark"] {
  --teal-1: #0c1311;
  --teal-2: #0f1b18;
  --teal-3: #0c2c26;
  --teal-4: #003a31;
  --teal-5: #06483d;
  --teal-6: #16564a;
  --teal-7: #22685b;
  --teal-8: #287f6f;
  --teal-9: #86ead4;
  --teal-10: #7ce0ca;
  --teal-11: #6dd2bc;
  --teal-12: #c0f5e8;

  --teal-a1: #00bb1103;
  --teal-a2: #00f9b40b;
  --teal-a3: #00ffca1d;
  --teal-a4: #00ffcb2c;
  --teal-a5: #00ffd03b;
  --teal-a6: #23ffd64a;
  --teal-a7: #3ffdda5e;
  --teal-a8: #43ffdd76;
  --teal-a9: #92ffe7e9;
  --teal-a10: #8cffe6de;
  --teal-a11: #83ffe4cf;
  --teal-a12: #c7fef0f5;

  --teal-contrast: #062822;
  --teal-surface: #0e251f80;
  --teal-indicator: #86ead4;
  --teal-track: #86ead4;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme,
    [data-theme="dark"] {
      --teal-1: oklch(17.8% 0.012 178);
      --teal-2: oklch(20.8% 0.017 178);
      --teal-3: oklch(26.8% 0.039 178);
      --teal-4: oklch(31.3% 0.058 178);
      --teal-5: oklch(35.9% 0.063 178);
      --teal-6: oklch(41% 0.067 178);
      --teal-7: oklch(47.1% 0.073 178);
      --teal-8: oklch(54% 0.085 178);
      --teal-9: oklch(87% 0.1 178);
      --teal-10: oklch(83.9% 0.1 178);
      --teal-11: oklch(79.5% 0.1 178);
      --teal-12: oklch(93% 0.057 178);

      --teal-a1: color(display-p3 0 0.941 0.067 / 0.009);
      --teal-a2: color(display-p3 0.161 0.98 0.706 / 0.043);
      --teal-a3: color(display-p3 0.212 0.996 0.816 / 0.11);
      --teal-a4: color(display-p3 0.161 0.996 0.812 / 0.169);
      --teal-a5: color(display-p3 0.294 1 0.827 / 0.227);
      --teal-a6: color(display-p3 0.412 1 0.851 / 0.286);
      --teal-a7: color(display-p3 0.478 1 0.871 / 0.362);
      --teal-a8: color(display-p3 0.49 1 0.882 / 0.454);
      --teal-a9: color(display-p3 0.678 0.996 0.914 / 0.904);
      --teal-a10: color(display-p3 0.663 1 0.914 / 0.862);
      --teal-a11: color(display-p3 0.639 1 0.91 / 0.803);
      --teal-a12: color(display-p3 0.835 1 0.953 / 0.95);

      --teal-contrast: #062822;
      --teal-surface: color(display-p3 0.071 0.133 0.118 / 0.5);
      --teal-indicator: oklch(87% 0.1 178);
      --teal-track: oklch(87% 0.1 178);
    }
  }
} */


